# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
venv/
ENV/

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Spark / Hadoop
checkpoint/
/tmp/crowdpulse/
derby.log
metastore_db/
